body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .input-field {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
  }
  
  .create-account-button {
    background-color: #ccff00;
    padding: 15px;
    width: 85%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
  }
  
  .home-page {
    margin-top: 50px;
  }
  body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .input-field {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
  }
  
  .login-button, .create-account-button {
    background-color: #ccff00;
    padding: 15px;
    width: 85%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
  }
  
  .login-page, .create-account-page {
    margin-top: 50px;
  }
  
  .signup-link {
    color: #ccff00;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: underline;
  }
  